{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | CareerCompass</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/fontawesome/all.min.css' %}">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
    {% if messages %}
    {% for message in messages %}
    <div class="m-0 rounded-0 alert alert-{{ message.tag }}" role="alert">
        <div class="container">
            <i class="fa-solid fa-{% if message.tags == 'warning' %}warning{% else %}thumbs-up{% endif %} me-1"></i> {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold text-white" href="{% url 'home' %}"><i
                        class="fa-solid fa-graduation-cap text-white"></i> CareerCompass</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}"><i class="fa-solid fa-home me-1"></i> Home</a></li>
                        {% if request.session.entry_code %}
                        <li class="nav-item"><a class="nav-link text-white"
                                href="{% url 'assessment' %}"><i class="fa-solid fa-tachometer-alt me-1"></i> My Dashboard</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2">
                        {% if request.session.entry_code %}
                        <a data-bs-target="#endSession" data-bs-toggle="modal"
                            class="btn btn-outline-light me-3 fw-bold"><i class="fa-solid fa-door-open me-1"></i>
                            End Session</a>
                        {% else %}
                        <a data-bs-target="#enterCode" data-bs-toggle="modal"
                            class="btn btn-outline-light me-3 fw-bold"><i class="fa-solid fa-right-to-bracket me-1"></i>
                            Enter Access Code</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer class="bg-primary py-4 mt-auto">
        <div class="container">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row fw-bolder">
                <div class="col-auto">
                    <div class="small m-0 text-white">&copy; {% now "Y" %} &bull; All rights reserved.</div>
                </div>
                <div class="col-auto">
                    <span class="text-white mx-1">&middot;</span>
                    <span class="text-white small">Seyi Pythonian</span>
                    <span class="text-white mx-1">&middot;</span>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="enterCode" tabindex="-1" role="dialog" aria-labelledby="enterCodeLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enterCodeLabel">Enter Access Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            {% for error in form.entry_code.errors %}
                            <div class="alert alert-danger border-5 border-danger border-top-0 border-end-0 border-bottom-0 mb-1"
                                role="alert">
                                <i class="fa-solid fa-triangle-exclamation me-1"></i> {{ error }}
                            </div>
                            {% endfor %}
                            {{ form.entry_code }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-outline-dark" type="button"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i
                                class="fas me-1 fa-right-from-bracket"></i>
                            Get Access</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="endSession" tabindex="-1" role="dialog" aria-labelledby="endSessionLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="endSessionLabel">Ready to Leave?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Select End Session below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'end_session' %}">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-outline-dark" type="button"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i
                                class="fas me-1 fa-right-from-bracket"></i>
                            End Session</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'scripts/jquery.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/chart.js' %}"></script>
    {% block script %}{% endblock %}
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>
</body>

</html>
