{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="bg-primary py-xl-5 py-lg-2">
    <div class="container my-lg-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="my-5">
                    <span class="bg-white rounded-5 px-3 py-2"><i
                            class="fa-solid fa-medal text-primary-emphasis me-1"></i> Discover Your Path to
                        Success!</span>
                    <h2 class="display-5 fw-bolder text-white mb-3 mt-4">
                        Unlock Your Potential
                        <span class="text-primary-emphasis d-block">with our Career Counselor</span>
                    </h2>
                    <p class="lead fw-normal text-white mb-4">Discover your future with our Career Counselor Web App.
                        Analyzing your academic performance from JSS 1-3, we provide personalized career recommendations and guide you towards the right path.</p>
                    {% if request.session.entry_code %}
                    <a class="btn btn-outline-light px-3 py-2 me-sm-3" href="{% url 'assessment' %}">View Career Assessment <i class="fa-solid fa-arrow-right ms-1"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'images/counselor.svg' %}" class="w-100" alt="career-counselor">
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container my-lg-5">
        <div class="text-center mb-5">
            <h5 class="text-primary mb-3">Key Features</h5>
            <h3>Empowering Career Exploration</h3>
        </div>
        <div class="row g-4">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body pb-4 pt-5 px-5 text-center">
                        <div class="mb-4">
                            <i class="fa-solid fa-arrows-to-eye text-primary-emphasis fa-3x"></i>
                        </div>
                        <span class="fs-5 d-block mb-2">Comprehensive Career Assessment</span>
                        <p class="text-body-secondary">Our assessment evaluates your academic performance from JSS 1-3
                            and identifies career fields aligned with your strengths.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body pb-4 pt-5 px-5 text-center">
                        <div class="mb-4">
                            <i class="fa-solid fa-briefcase text-primary-emphasis fa-3x"></i>
                        </div>
                        <span class="fs-5 d-block mb-2">Explore Diverse Career Paths</span>
                        <p class="text-body-secondary">Our web app provides in-depth information about various career
                            paths, enabling you to make informed decisions.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body pb-4 pt-5 px-5 text-center">
                        <div class="mb-4">
                            <i class="fa-solid fa-square-poll-vertical text-primary-emphasis fa-3x"></i>
                        </div>
                        <span class="fs-5 d-block mb-2">Tailored Recommendations for You</span>
                        <p class="text-body-secondary">Based on your assessment results, our web app generates career
                            recommendations that match your academic performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-5">
    <div class="container my-lg-5">
        <div class="text-center mb-5">
            <h5 class="text-primary mb-3">How It Works</h5>
            <h3>Navigate with Confidence</h3>
        </div>
        <div class="row d-flex align-items-center mb-5 mx-5">
            <div class="col-md-6">
                <div class="d-flex" data-aos="fade-up">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-1 fa-2x text-primary-emphasis"></i>
                    </div>

                    <div class="flex-grow-1 ms-4">
                        <h5 class="text-primary">Enter Access Code</h5>
                        <p class="lead">Enter the access code that was sent to your email address to gain access to your assessment dashboard.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-end d-none d-md-block">
                <img src="{% static 'images/step-1.svg' %}" alt="how-it-works" class="img-fluid w-75">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-5 mx-5">
            <div class="col-md-6 d-none d-md-block">
                <img src="{% static 'images/step-2.svg' %}" alt="how-it-works" class="img-fluid w-50">
            </div>
            <div class="col-md-6">
                <div class="d-flex" data-aos="fade-up">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-2 fa-2x text-primary-emphasis"></i>
                    </div>

                    <div class="flex-grow-1 ms-4">
                        <h5 class="text-primary">View Complete Assessment</h5>
                        <p class="lead">Your dashboard provides you with a detailed analysis of all your computed results for every subject from JSS1 to JSS3.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mx-5">
            <div class="col-md-6">
                <div class="d-flex" data-aos="fade-up">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-3 fa-2x text-primary-emphasis"></i>
                    </div>

                    <div class="flex-grow-1 ms-4">
                        <h5 class="text-primary">Get Personalized Recommendation</h5>
                        <p class="lead">Based on your assessment results, our web app predicts the most suitable career field based on your academic performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-end d-none d-md-block">
                <img src="{% static 'images/step-3.svg' %}" alt="how-it-works" class="img-fluid w-75">
            </div>
        </div>

    </div>
</section>
{% endblock content %}
